
main{
    background: url(img/leatherbg_optimized.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}


.Logo{
	max-width: 50%;
	margin: auto;
}

header{
    overflow: hidden;
    background-image: url(img/headerbg.jpg);
    position: sticky;
    top: 0;
    width: 100%;
    z-index:1;
  
    
}

.MixtapeContainer{
    padding-top: 12rem;
    padding-bottom: 50%;
    background-image: url(img/BWpic.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

navbar{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    
}

h2,h1{
    display: flex;
    justify-content: center;
}


footer{
    position: relative;
    bottom: 0;
    align-items: center;
    justify-content: center space-evenly;
    padding: 3%;
    background-color: antiquewhite;
    font-size: 20px; 
    margin-left: auto;
	  margin-right: auto;    
}

.footerlogo{
    grid-auto-flow: column;
    max-width: 5%;
    margin-left: 12%;
    padding-bottom: 5%;
}


.btn{
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
}

.btn:hover {
    background: #f4f4f4;
}

/* Screen Sizes 500px and Up */
@media only screen and (min-width: 64.063em) { 

    header{
        position: sticky;
    }

    .Logo{
        max-width: 30%;
    }



}

/*
 * Bootrap carousel plugin
 * --------------------------------------------------
 */
  
  .youtube-carousel{
    border: 4px solid #000000;
  }
  
  .video-container { 
     position: relative; /* keeps the aspect ratio */ 
     padding-bottom: 56.25%; /* fine tunes the video positioning */ 
     padding-top: 60px; overflow: hidden;
     margin-bottom: -1px;
     margin-right: -1px;   
  }
  
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;  
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
  }
    
  .carousel-control .glyphicon-chevron-left{
    top:35%;
    font-size: 20px;
    left:5%;
    margin: 0;
  }
  
  .carousel-control .glyphicon-chevron-right{
    top:35%;
    font-size: 20px;
    left:33%;
    margin: 0;
  }
  
  .carousel-control.left, .carousel-control.right {
    background-image: none;
    color: #ffffff;
    top: 50%;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    opacity: 1;
    height:120px;
  }
  
  .controls{
     display: none;
  }
  
  .carousel-control:hover {
    text-decoration: none;
    filter: alpha(opacity=60);
    outline: 0;
    opacity: 0.6;
  }
  
  .left-button {
    height:70px;
    width:35px;
    border-radius: 0 90px 90px 0;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    -moz-border-radius: 0 90px 90px 0;
    -webkit-border-radius: 0 90px 90px 0;
    background-color: #000000;
    display: inline-block;
    position: relative;
    float:left;
    /*subpixel bug*/
    margin-left: -1px; 
  }
  
  .right-button {
    height:70px;
    width:35px;
    border-radius: 90px 0 0 90px;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    -moz-border-radius: 90px 0 0 90px;
    -webkit-border-radius: 90px 0 0 90px;
    background-color: #000000;
    display: inline-block;
    position: relative;
    float:right;
    /*subpixel bug*/
    margin-right: -1px;
  }
  
  
  .carousel-caption {
   display: none;
   background: none repeat scroll 0 0 #000000;
    bottom: 0;
    font-size: 12px;
    text-align: center;
    opacity: 1;
    padding:7px 30px 7px;
    text-transform: uppercase;
    z-index:11;
    pointer-events:none;
  }
  
  @media screen and (min-width: 768px) {
  .right-button {
    height:120px;
    width:60px;
    border-radius: 90px 0 0 90px;
    -moz-border-radius: 90px 0 0 90px;
    -webkit-border-radius: 90px 0 0 90px;
    display: inline-block;
    position: relative;
    float:right;
  }
  
  .left-button {
    height:120px;
    width:60px;
    border-radius: 0 90px 90px 0;
    -moz-border-radius: 0 90px 90px 0;
    -webkit-border-radius: 0 90px 90px 0;
    display: inline-block;
    position: relative;
    float:left;
  }
  
  .carousel-control .glyphicon-chevron-left{
    top:35%;
    font-size: 35px;
    left:5%;
  }
  
  .carousel-control .glyphicon-chevron-right{
    top:35%;
    font-size: 35px;
    left:35%;
  }
  
  .carousel-caption {
    font-size: 18px;
    padding:15px 20px 15px;
    }
  }
  @media screen and (min-width: 992px) {
   .carousel-caption {
      font-size: 18px;
      padding:15px 20px 15px;
    }
  }


