
.Logo{
    display: flex;
    justify-content: center;
}

header{
    overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  
    
}

.MixtapeContainer{
    padding-top: 12rem;
    background-image: url(img/pic.jpg);
    background-repeat: space;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

navbar{
    display: flex;
    justify-content: center;
}

h2,h1{
    display: flex;
    justify-content: center;
}

video
{
  max-width: 100%;
  height: auto;
  max-height: 100%;
}


footer{
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 4rem;
    
  
}

footer a{
    
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}

.btn{
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
}

.btn:hover {
    background: #f4f4f4;
}

/* Screen Sizes 500px and Up */



