
main{
    background-image: url(img/pic.jpg);
    background-repeat: repeat-x;
    max-width: auto;
    
}


.Logo{
    display: flex;
    justify-content: center;
}

.MixtapeContainer{
    justify-content: center;
    align-items: center;
    
}

.MixtapeContainer img{
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 5.0rem;
}

footer{
    justify-content: center;
    align-items: center;
}

footer a{
    justify-content: center;
    margin-left: 2rem;
}

.btn{
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
}

.btn:hover {
    background: #f4f4f4;
}

/* Screen Sizes 500px and Up */

